<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="GetEventStoreProjectionSetupUtilConnection" connectionString="UserCredentials=admin:changeit;IPEndpoint=localhost:2113"/>
    <add name="GetEventStoreConnection" connectionString="ConnectTo=tcp://admin:changeit@localhost:1113; HeartBeatTimeout=500"/>
    <add name="RavenDB" connectionString="Url = http://127.0.0.1:8080; Database = SIS"/>
  </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>