<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="RavenDB" connectionString="Url = http://127.0.0.1:8080; Database = SIS"/>
    <add name="GetEventStoreConnection" connectionString="ConnectTo=tcp://admin:changeit@localhost:1113; HeartBeatTimeout=500"/>
  </connectionStrings>
</configuration>